body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-decoration-line: underline;
    background-color:lightblue;
  }
  
  .captcha-container {
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    outline-style: dotted;
  }
  
  .captcha-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  
  #user-input {
    padding: 5px;
    margin-right: 10px;
  }
  
  #check-btn {
    padding: 5px 10px;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }